
@font-face {
    font-family: 'vogamedium';
    src: url('voga-medium-webfont.woff2') format('woff2'),
         url('voga-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.titleclass{

}
#title{
  font-family: 'Pacifico', cursive;
  color: #fdadaa;
  font-size: 100px;
  text-align: center;
  margin: 0; padding: 10%;

}
#imagelist{
  list-style: none;
}

ul{
  text-align: block;
}
li{
  display: inline-block;
}
img{
    width: 400px;

}
