
@font-face {
    font-family: 'vogamedium';
    src: url('voga-medium-webfont.woff2') format('woff2'),
         url('voga-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.title{
  position: relative;
  top: 50vh;
  transform: translate(0, -50%  );
  font-family: Monospace;
  color: #494c4a;
  font-size: 50px;
}
.title-div{
  height: 100vh;
}
#imagelist{
  list-style: none;
}
body, html{
  height: 100%;
}
body {
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('images/minimal.png');
  background-color: #f2f1e8;
}
img{
  padding: 1%;
}
.footer{
  padding: 5%;

}
.footer-text{
  font-family: monospace;
}
